nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav img {
    display: block;
    width: 80px;
    height: auto;
}

nav a {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}