@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<nav>
    @if (isAuthenticated)
    {
        <NavLink href="/dashboard">Dashboard</NavLink>
        <a href="#" @onclick="Logout">Sign Out</a>
    }
    else
    {
        <NavLink href="/">Login</NavLink>
        <NavLink href="/add-user">Register</NavLink>
    }
</nav>

@code {
    private bool isAuthenticated = false;

    protected override async Task OnParametersSetAsync()
    {
        
        @* var authState = await AuthStateProvider.GetAuthenticationStateAsync(); *@
        @* isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false; *@
    }

    private async Task Logout()
    {
        // Blazor logout = just reset user + redirect
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
