@page "/addtransaction/{GoalId:int}"
@layout MainLayout
@rendermode InteractiveServer

@using GoalGrower.Data
@using GoalGrower.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject AppDbContext _context
@inject UserManager<UserModel> UserManager
@inject NavigationManager Nav

<PageTitle>Goal Grower - Add New Transaction Page</PageTitle>

<h1>Add Transaction</h1>

<EditForm FormName="AddTransactionForm" Model="transactionModel" OnValidSubmit="HandleAddTransaction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>Transaction Date</label>
    <InputDate id="TransactionDate" @bind-Value="transactionModel.TransactionDate" />
    <label>Description</label>
    <InputText id="TransactionDescription" @bind-Value="transactionModel.TransactionDescription"
        placeholder="Description" />
    <label>Type</label>
    <InputRadioGroup id="TransactionType" @bind-Value="transactionModel.TransactionType">
        <label class="radio-inline">
            <InputRadio Value="TransactionModel.TransactionTypeEnum.Deposit" /> Deposit
        </label>
        <label class="radio-inline">
            <InputRadio Value="TransactionModel.TransactionTypeEnum.Withdrawal" /> Withdrawal
        </label>
    </InputRadioGroup>
    <label>Amount</label>
    <InputNumber id="TransactionAmount" @bind-Value="transactionModel.TransactionAmount" placeholder="1000"/>
    <div class="form-button-options">
        <button type="submit">Add Transaction</button>
        <a class="cancel-button" href="/goaldetails/@GoalId">Cancel</a>
    </div>
    
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [Parameter]
    public int GoalId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthStateTask { get; set; } = default!;

    private TransactionModel transactionModel { get; set; } = new(){
        TransactionDate = DateTime.Today
    };
    private string errorMessage = string.Empty;

     protected override async Task OnInitializedAsync()
    {
        // Set UserId early to satisfy the [Required] attribute for validation
        var authState = await AuthStateTask;
        var principal = authState.User;
        var user = await UserManager.GetUserAsync(principal);

        if (user is not null)
        {
            transactionModel.UserId = user.Id;
        }
        else
        {
            // Handle unauthenticated user case if necessary (e.g., redirect to login)
            errorMessage = "Authentication failed. User not found.";
        }
    }
    private async Task HandleAddTransaction()
    {
        errorMessage = string.Empty;

        try
        {
            var goal = await _context.Goals.FirstOrDefaultAsync(g => g.GoalId == GoalId);
            if (goal == null)
            {
                errorMessage = "Goal Not Found.";
                return;
            }

            var authState = await AuthStateTask;
            var claimsPrincipal = authState.User;

            var user = await UserManager.GetUserAsync(claimsPrincipal);
            if (user == null)
            {
                errorMessage = "Access Denied. Must be Signed In.";
                return;
            }

            transactionModel.GoalId = GoalId;
            transactionModel.UserId = user.Id;

            _context.Transactions.Add(transactionModel);
            await _context.SaveChangesAsync();
            Nav.NavigateTo($"/goaldetails/{transactionModel?.Goal.GoalId}");
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }
}