@page "/addtransaction"
@layout MainLayout

@using GoalGrower.Models
@rendermode InteractiveServer

<PageTitle>Goal Grower - Add New Transaction Page</PageTitle>

<h1>Add Transaction</h1>

<EditForm FormName="AddTransactionForm" Model="transactionModel" OnValidSubmit="HandleAddTransaction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputDate id="TransactionDate" @bind-Value="transactionModel.TransactionDate" />
    <InputText id="TransactionDescription" @bind-Value="transactionModel.TransactionDescription"
        placeholder="Description" />
    <InputRadioGroup id="TransactionType" @bind-Value="transactionModel.TransactionType">
        <InputRadio Value="TransactionModel.TransactionTypeEnum.Deposit" /> Deposit
        <InputRadio Value="TransactionModel.TransactionTypeEnum.Withdrawal" /> Withdrawal
    </InputRadioGroup>
    <InputNumber id="TransactionAmount" @bind-Value="transactionModel.TransactionAmount" />

    <button type="submit">Add Transaction</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    private TransactionModel transactionModel { get; set; } = new TransactionModel();
    private string errorMessage = string.Empty;

    private async Task HandleAddTransaction()
    {
        errorMessage = string.Empty;

        // Logic to add the transaction goes here
        // After adding the transaction navigate back to Goal Details
    }
}