@page "/attributes"
@layout MainLayout

<PageTitle>Goal Grower - Attributes Page</PageTitle>

<h1>Attributes Page</h1>

<p>Icons</p>
<p>https://freeicons.io/icon/business-and-online-icons/edit-icon-icon-4</p>
<p>https://freeicons.io/icon/business-and-online-icons/trash-icon-icon-4</p>