@page "/dashboard"

@using GoalGrower.Data
@using GoalGrower.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<UserModel> UserManager
@inject AppDbContext Db
@inject NavigationManager Nav

@attribute [Authorize]

<PageTitle>Goal Grower - Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome @currentUser?.Name!</h1>

        <a class="a-btn" href="/addgoal">Add New Goal</a>

        <h2>Active Goals</h2>
        <div class="active-goals-container">
            @if (goals is null)
            {
                <p>Loading...</p>
            }
            else if (!goals.Any())
            {
                <p>No goals yet. Add one above.</p>
            }
            else
            {
                <div class="goal-cards">
                    @foreach (var g in goals)
                    {
                        <a class="goal-card" href="/goaldetails/@g.GoalId">
                            <h3>@g.GoalName</h3>
                            <p>Goal Amount: @($"{g.GoalAmount:C}") </p>
                            <p>Amount Saved: @($"{g.Transactions.Sum(t => t.TransactionAmount):C}")</p>
                        </a>

                    }
                </div>
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private UserModel? currentUser;
    private List<GoalModel>? goals;

    protected override async Task OnInitializedAsync()
    {
        // Get ClaimsPrincipal
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var principal = authState.User;

        // Get full user from Identity
        currentUser = await UserManager.GetUserAsync(principal);

        if (currentUser is not null)
        {
            // Load that user's goals
            goals = await Db.Goals
            .Where(g => g.UserId == currentUser.Id)
            .Include(g => g.Transactions)
            .ToListAsync();
        }
    }
}