@page "/editgoal/{GoalId:int}"
@layout MainLayout

@using GoalGrower.Data
@using GoalGrower.Models
@using Microsoft.EntityFrameworkCore

@inject AppDbContext _context

<PageTitle>Goal Grower - Edit Goal Details Page</PageTitle>

<h1>Edit Goal Details</h1>

<EditForm FormName="EditGoalForm" Model="goalModel" OnValidSubmit="HandleEditGoal">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="GoalName" @bind-Value="goalModel.GoalName" placeholder="Goal Name" />
    <InputText id="GoalDescription" @bind-Value="goalModel.GoalDescription" placeholder="Description" />
    <InputNumber id="GoalAmount" @bind-Value="goalModel.GoalAmount" />
    <InputDate id="CompletionDate" @bind-Value="goalModel.CompletionDate" />

    <button type="submit">Save Changes</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    [Parameter]
    public int GoalId { get; set; }
    private GoalModel? goalModel;
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            goalModel = await _context.Goals
            .Include(g => g.Transactions)
            .FirstOrDefaultAsync(g => g.GoalId == GoalId);

            if (goalModel == null)
            {
                errorMessage = "Goal not found.";
                return;
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error loading goal: " + ex.Message;
        }
    }

    private async Task HandleEditGoal()
    {
        errorMessage = string.Empty;

        // Logic to update the goal goes here
        // After updating the goal navigate back to dashboard
    }
}