@page "/"
@layout NoNavLayout
@using GoalGrower.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Goal Grower - Home Page</PageTitle>

<img src="images\logo.png" alt="Goal Grower Logo" width="500" height="500" class="logo" />
<h1>Goal Grower</h1>

<EditForm FormName="LoginForm" Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="loginModel.Email" type="text" id="username" placeholder="Email" />
    <InputText @bind-Value="loginModel.Password" type="password" id="password" placeholder="Password" />

    <div class="remember-me">
        <InputCheckbox @bind-Value="loginModel.RememberMe" />
        <label>Remember Me</label>
    </div>

    <button type="submit">Sign In</button>

    <p>New to Goal Grower? <a href="/register">Register Here.</a></p>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

@code {
    private LoginModel loginModel { get; set; } = new LoginModel();
    private string? errorMessage;

    private async Task HandleLogin()
    {
        errorMessage = null;

        var result = await SignInManager.PasswordSignInAsync(
        loginModel.Email,
        loginModel.Password,
        isPersistent: false,
        lockoutOnFailure: false
        );

        if (result.Succeeded)
        {
            Navigation.NavigateTo("/dashboard");
        }
        else
        {
            errorMessage = "Invalid email or password.";
        }
    }
}