@page "/"
@layout NoNavLayout

<PageTitle>Goal Grower - Home Page</PageTitle>

<img src="images\logo.png" alt="Goal Grower Logo" width="500" height="500" />
<h1>Goal Grower</h1>

<form class="login-form">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />

    <button type="submit">Sign In</button>

    <p>New to Goal Grower? Register Here.</p>
</form>

<NavLink href="/dashboard">Go to Dashboard</NavLink>
<p>Future Sign In Redirect</p>

<NavLink href="/register">Go to Register</NavLink>
<p>Future Register Redirect</p>