@* @page "/add-user"

@using GoalGrower.Data
@using GoalGrower.Models
@using static GoalGrower.Models.UserModel
@inject AppDbContext DbContext
@inject NavigationManager Navigation


<h1>Sign Up</h1>
<EditForm Model="@user" OnValidSubmit="HandleValidSubmit" FormName="RegisterUserForm">
    <DataAnnotationsValidator />
    <p>
        <label>Name:</label>
        <InputText @bind-Value="user.Name" />
    </p>

    <p>
        <label>Last Name:</label>
        <InputText @bind-Value="user.LastName" />
    </p>

    <p>
        <label>Username:</label>
        <InputText @bind-Value="user.Username" />
    </p>
    <p>
        <label>Password:</label>
        <InputText @bind-Value="user.Password" type="password" />
    </p>

    <p>
        <label>Your currency:</label>
        <InputSelect @bind-Value="user.Currency" TValue="CurrencyType">
            @foreach (var c in Enum.GetValues(typeof(CurrencyType)).Cast<CurrencyType>())
            {
                <option value="@c">@GetCurrencyDisplay(c)</option>
            }
        </InputSelect>

    </p>
    
    <p>
        <label>Initial Bank Amount:</label>
        <InputNumber @bind-Value="user.BankAmount"  TValue="decimal" />
    </p>

    <button type="submit">Sing Up</button>
</EditForm>

<p>@statusMessage</p>

@code {
    private UserModel user = new UserModel();
    private string statusMessage = string.Empty;

    private async Task HandleValidSubmit()
    {
        // Hash the password before saving
        user.Password = PasswordHelper.HashPassword(user.Password);
        DbContext.Users.Add(user);
        await DbContext.SaveChangesAsync();
        statusMessage = "User saved successfully!";
        // Redirect to dashboard
        Navigation.NavigateTo("/dashboard");
    }
    private string GetCurrencyDisplay(CurrencyType currency)
    {
        return currency switch
        {
            CurrencyType.USD => "USD $",
            CurrencyType.EUR => "EUR €",
            CurrencyType.GBP => "GBP £",
            CurrencyType.MXN => "MXN $",
            CurrencyType.ARS => "ARS $",
            CurrencyType.CLP => "CLP $",
            _ => currency.ToString()
        };
    }
} *@
