:root {
    --primary-color: #FBF8E1;
    --secondary-color: #001404;
    --accent-color-1-dark: #01500E;
    --accent-color-1-light: #A0DA7C;
    --accent-color-2-dark: #F0BF6F;
    --accent-color-2-light: #F7E8A5;
    --primary-font: 'Tenor Sans', serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
}

body {
    background-color: var(--primary-color);
    text-align: center;
    margin: 3rem;
    height: 100%;
}

nav {
    margin: 1rem auto
}

nav a {
    text-decoration: none;
    margin: 0 .5rem;
}

footer {
    margin-top: 3rem;
}

h1 {
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: normal;
    color: var(--accent-color-1-dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin: 2rem auto;
    padding: 1.5rem 5rem;
    border-radius: 10px;
}

label {
    font-size: 1.25rem;
    align-items: flex-start;
}

.radio-inline {
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    background-color: var(--primary-color);
    font-size: 1.15rem;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
}

button {
    background-color: var(--accent-color-2-light);
    background-image: linear-gradient(var(--accent-color-1-light), var(--accent-color-2-light));
    color: var(--accent-color-1-dark);
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    align-self: center;
    margin: 2rem auto;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    background-image: none;
    color: var(--primary-color);
}

.remember-me {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.remember-me label {
    font-size: 1rem;;
}

.remember-me input[type="checkbox"] {
    width: auto;
    margin: 0;
    padding: 0;
}

.active-goals-container {
    margin: 1rem auto;
    padding: 1rem;
    border-top: 1px solid var(--accent-color-1-dark);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.transaction-list li {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 5px;               
    padding: .25rem 0;         
}

.transaction-list li a img.icon {
    vertical-align: middle;  
    width: 20px;             
    height: 20px;
}

.active-goal {
    margin: 1rem auto;
    background-color: var(--accent-color-1-light);
    border-radius: 10px;
    width: 90%;
    height: auto;
}

.active-goal a {
    display: block;
    color: #001404;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
}

.validation-message {
    background-color: var(--primary-color);
    color: red;
    font-size: 1rem;
    text-align: left;
    margin: .5rem 0;
    padding: 0;
}

.logo {
    margin: 1rem auto;
    width: 50%;
    height: auto;
}

.details-container {
    background-color: var(--accent-color-2-light);
    font-size: 1.15rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 2px solid var(--accent-color-1-dark);
    border-radius: 10px;
}

.detail {
    margin: 1rem 0;
}

.detail p:nth-child(1) {
    margin-bottom: .5rem;
    font-weight: 600;
}

.icon {
    display: inline-block;
    margin: .25rem;
    padding: .75rem;
    width: 60px;
    height: auto;
}

.sm-icon {
    margin: .25rem;
    padding: .75rem;
    width: 40px;
    height: auto;
}