:root {
    --primary-color: #FBF8E1;
    --secondary-color: #001404;
    --accent-color-1-dark: #01500E;
    --accent-color-1-light: #A0DA7C;
    --accent-color-2-dark: #F0BF6F;
    --accent-color-2-light: #F7E8A5;
    --primary-font: 'Tenor Sans', serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
}

h1 {
    font-family: var(--primary-font);
    font-size: 4rem;
}

body {
    background-color: var(--primary-color);
    text-align: center;
    margin: 1rem;
}

nav {
    margin: 1rem auto
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: fit-content;
    margin: 2rem auto;
    padding: 1.5rem 5rem;
    border-radius: 10px;
}

label {
    font-size: 1.25rem;
    align-items: flex-start;
}

input {
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    padding: .5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
}

button {
    background-color: var(--accent-color-2-light);
    background-image: linear-gradient(var(--accent-color-1-light), var(--accent-color-2-light));
    font-size: 1.25rem;
    width: 100%;
    align-self: center;
    margin: 1rem auto;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}